@(requestTokenForm: Form[RequestTokenData])(implicit messages: Messages)

@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

@main("OAuth token generation page"){
        <h2>Obtain request token</h2>
        @if(requestTokenForm.hasGlobalErrors) {
		  <ul>
		  @for(error <- requestTokenForm.globalErrors) {
		    <li>@error.message</li>
		  }
		  </ul>
		}
		@b3.form(action = routes.OAuthController.obtainRequestTokenForm) {
		
		  @b3.text(requestTokenForm("baseUrl"), '_label -> "Base URL", 'placeholder -> "Base URL of Jira instance...")
		  @b3.text(requestTokenForm("consumerKey"), '_label -> "Consumer key", 'placeholder -> "Shared consumer key...")
		  @b3.textarea(requestTokenForm("privateKey"), '_label -> "Private key", 'placeholder -> "Private RSA key, including start and end tags...", 'rows -> 10)
		  @b3.text(requestTokenForm("callbackUrl"), '_label -> "Callback URL", 'placeholder -> "Some dummy callback URL...")
		  @b3.submit('class -> "btn btn-default"){ Obtain Request Token }
		}
}		       
